
<html>
<head>
    <title>Вход</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="block">
        <h1>Вход</h1>
        <form action="enter" method="POST">
            <div class="form-block"> 
                <label>Имя</label>
                <input name="name" />
            </div>
            <div class="form-block"> 
                <label>Пароль</label>
                <input name="password" type="password"/>
            </div>
            <input class="push" type="submit" value="Войти" />
            <a class="out" href="./registration">Регистрация</a>
        </form>
    </div>
</body>
<html>