<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Статистика</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/statistics.css">
</head>
<body>
	<header>
        <h1>Статистика</h1>
        <form action="logout" method="POST">
            <label>{{user}}</label>
            <input class="button" class="button" type="submit" value="Выход" />
        </form>
    </header>
    <div class="colNames">
    	<span class="colName">Название таймера:</span>
    	<span class="colName">Общее время:</span>
    </div>
    <div class="statsBlock">
    	{{#each timeStats}}
    		<div class="oneStat">
    			{{#each this}}
					<div class="stats">{{this}}</div>
		    	{{/each}}
    		</div>
	    {{/each}}
    </div>
	<form action="main" method="POST">
        <input class="button linkButton" type="submit" value="На главную" />
    </form>
</body>
</html>